
{% extends 'layout.html' %}

 {% block title %} New Post {% endblock %} 
 


 {% block content %}
<section class="container mt-5">
  <h3 class="mb-4 text-center">Make A New Post</h3>

  <form
    class="form-with-validation needs-validation"
    action="{% url 'posts:new-post'%}"
    method="post"
    enctype="multipart/form-data"
    novalidate
  >
    {% csrf_token %}
    <div class="mb-3">{{ form}}</div>

    
    <button type="submit" class="btn btn-outline-primary w-100 mb-2">
      Add a New Post
    </button>
  </form>
</section>

{% endblock %}